#Jupyter Notebook cache folders
*/.ipynb_checkpoints/*
*/.ipynb_checkpoints/
/.ipynb_checkpoints/
/GUI/train
/GUI/test
/GUI/val
/GUI/tmp.png
#dataset files
*.zip
*.npy

#model files
*.pt

#images
*.jpeg


#cache file draw.io

*.bkp
*.dtmp

#dataset folder
/dataset/splitted
/dataset/unsplitted
