#Jupyter Notebook cache folders
*/.ipynb_checkpoints/*
*/.ipynb_checkpoints/
/.ipynb_checkpoints/

#dataset files
*.zip
*.npy

#model files
*.pt

#images
*.jpeg


#cache file draw.io

*.bkp
*.dtmp

#dataset folder
/dataset
